.offreContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 7px;
  border: 2px #f6f7f8 solid;
  overflow: hidden;
  transition: all 0.3s ease;
  // height: 300px;
  cursor: pointer;
  @media (max-width: 900px) {
    margin-left: 0;
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.56);
  }

  .offreDescription {
    font-family: "Ubuntu", sans-serif;
    padding: 15px 15px;
    .header {
      display: flex;
      justify-content: space-between;
      .title {
        span {
          color: #abb0b9;
          font-size: 12px;
          font-weight: 400;
          padding-bottom: 105px;
        }
        h2 {
          margin-bottom: 10px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
    .descriptiontext {
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 400px;
      height: 45 px;
      @media (max-width: 900px) {
        width: 300px;
      }
    }

    .conditions {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-bottom: 20px;
      align-items: center;
      justify-content: flex-start;
      font-family: "Ubuntu", sans-serif;
      @media (max-width: 900px) {
        justify-content: space-around;
      }
      .condition {
        margin-right: 50px;
        text-align: center;
        @media (max-width: 900px) {
          margin-bottom: 20px;
        }
        h4 {
          font-size: 13px;
          text-transform: uppercase;
          color: #a9a9a9;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 5px;
          font-weight: 700;
          .icon {
            margin-right: 5px;
          }
        }
        p {
          font-weight: 400;
          font-size: 13px;
          padding-top: 5px;
        }
      }
    }
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;
    border-top: 2px #f6f7f8 solid;
    @media (max-width: 900px) {
      flex-direction: column;
      justify-content: center;
    }

    .tag {
      display: flex;
      align-items: center;
      p {
        font-family: "Ubuntu", sans-serif;
        padding: 5px 10px;
        background-color: #f6f7f8;
        margin: 5px;
        border-radius: 10px;
        font-size: 13px;
      }
    }

    .detail {
      color: #0c97b4;
      display: flex;
      align-items: center;
      font-family: "Ubuntu", sans-serif;
      cursor: pointer;
      @media (max-width: 900px) {
        margin-top: 15px;
      }
      &:hover {
        text-decoration: underline #0c97b4;
      }
    }
  }
}
