.container {
  .adsContainer {
    width: 100%;

    .ads {
      display: flex;
      justify-content: center;
      img {
        height: 100px;
        width: 1000px;
        @media (max-width: 900px) {
          width: 100%;
        }
      }
    }
  }
  .menu {
    padding: 10px 20px;
    font-size: 30px;
    display: none;

    @media (max-width: 1100px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .social {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 20px;
      color: #abb0b9;
      .icon {
        transition: all 0.3s ease-in;
        cursor: pointer;
        margin-left: 15px;
        &:hover {
          color: #0c97b4;
        }
      }
    }
  }
}
