.eachSlide {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;

  .slide {
    background-size: cover;
    background-position: center;
    height: 100%;
    @media (max-width: 900px) {
      background-size: cover;
    }
    .filter {
      width: 100%;
      height: 100%;
      background-color: rgba($color: black, $alpha: 0.1);
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .slideText {
        font-family: "Ubuntu", sans-serif;
        padding-left: 40px;
        margin-top: 40px;
        width: 40%;
        @media (max-width: 900px) {
          width: 100%;
        }
        // height: 100%;
        display: flex;
        flex-direction: column;
        h1 {
          font-size: 45px;
          margin: 0;
          margin-bottom: 30px;
        }
        p {
          margin: 0;
          color: #0c97b4;
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 10px;
        }
        span {
          font-weight: 100;
        }
        .about {
          background-color: #0c97b4;
          padding: 10px 15px;
          width: 40%;
          margin-top: 30px;
          border-radius: 10px;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
