.episodeHeader {
  width: 100%;
  height: 55vh;
  background-image: url("../../public/galerie.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  .filter {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba($color: black, $alpha: 0.4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 45px;
      font-family: "Ubuntu", sans-serif;
    }
  }
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  div {
    background-color: #0c97b4;
    width: 105px;
    height: 5px;
    margin-right: 10px;
    margin-left: 10px;
    @media (max-width: 900px) {
      width: 50px;
    }
  }
}

.photose {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .photoee {
    width: 300px;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
    margin: 10px;
  }
}

.zoom {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  .filter {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    .icon {
      color: white;
      font-size: 35px;
      position: absolute;
      top: 0;
      right: 0;
    }
    .img {
      width: 60%;
      height: 60%;
      @media (max-width: 900px) {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .video {
    width: 400px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
  }
}
