.footerContainer {
  margin-top: 40px;
  background-color: #263238;
  color: #abb0b9;
  font-family: "Ubuntu", sans-serif;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 50px 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    font-weight: 700;
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 20px;
    h3 {
      color: white;
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      padding-left: 10px;
      font-size: 30px;
    }
  }

  .links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 900px) {
      flex-wrap: wrap;
    }
    .link {
      width: 100%;
      display: flex;
      justify-content: space-around;
      @media (max-width: 900px) {
        flex-wrap: wrap;
      }

      .block {
        margin-top: 10px;
        @media (max-width: 900px) {
          width: 300px;
          margin-bottom: 15px;
        }
        h4 {
          color: white;
          font-weight: 700;
          font-size: 18px;
        }
        ul {
          list-style: none;
          margin-top: 10px;
          li {
            padding: 5px 0px;
            transition: all 0.3s ease;
            &:hover {
              color: #0c97b4;
              transform: translateX(5px);
            }
          }
        }
      }
    }

    .contactInfo {
      .info {
        background-color: rgba($color: white, $alpha: 0.1);
        color: white;
        width: 350px;
        height: 150px;
        padding: 10px 20px;
        text-align: right;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-evenly;
        cursor: pointer;
        a {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
        .social {
          .icon {
            transition: all 0.3s ease;
            font-size: 20px;
            margin-left: 15px;
            &:hover {
              color: #0c97b4;
            }
          }
        }
      }
    }
  }

  .copyRight {
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 100;
    font-size: 14px;
    @media (max-width: 900px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    p {
      display: flex;
      align-items: center;
      @media (max-width: 900px) {
        margin-bottom: 10px;
      }
      .icon {
        margin: 0px 5px;
      }
      span {
        text-decoration: underline #0c97b4;
        cursor: pointer;
        padding-left: 5px;
        transition: all 0.3s ease;
        &:hover {
          color: #0c97b4;
          transform: translateY(-5px);
        }
      }
    }
  }
}
