.aboutHeader {
  width: 100%;
  height: 55vh;
  background-image: url("../public/convention.png");
  background-size: 100%;
  background-position: 0px -80px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  .filter {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba($color: black, $alpha: 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 45px;
      font-family: "Ubuntu", sans-serif;
    }
  }
}
// .conventionsContainer {
//   display: flex;
//   padding: 50px;
//   flex-wrap: wrap;
//   justify-content: center;
//   .conventionCard {
//     width: 300px;
//     // height: 500px;
//     // border: solid #fafafa;

//     margin: 20px;
//     border-radius: 15px;
//     border: solid #0c97b4;
//     padding: 8px;
//     @media (max-width: 900px) {
//       width: 100%;
//       margin: 5px;
//       margin-top: 10px;
//       margin-bottom: 10px;
//     }
//     .convention {
//       background: transparent;
//       width: 100%;
//       height: 100%;
//       border-radius: 15px;
//       border: solid #0c97b4 0.5px;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       padding: 5px;

//       .logo {
//         width: 100%;
//         height: 200px;
//         border-radius: 10px;
//         background-position: center;
//         background-size: 100%;
//         background-repeat: no-repeat;
//         margin-bottom: 10px;
//       }
//       .description {
//         margin-top: 10px;
//         font-family: "Ubuntu", sans-serif;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         margin-bottom: 20px;
//         height: 200px;
//         h1 {
//           margin-bottom: 10px;
//           font-size: 25px;
//           @media (max-width: 900px) {
//             font-size: 22px;
//           }
//         }
//         ul {
//           margin-top: 20px;
//           list-style: none;
//           text-align: center;
//           li {
//             margin-top: 10px;
//             margin-bottom: 10px;
//             p {
//               margin-bottom: 10px;
//             }
//           }
//         }
//       }

//       .adress {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding: 5px 10px;
//         background-color: #f6f7f8;
//         width: 100%;
//         height: 50px;
//         border-radius: 10px;
//         margin-bottom: 20px;
//         cursor: pointer;
//         font-family: "Ubuntu", sans-serif;
//         color: #0c97b4;
//         font-size: 18px;
//         p {
//           margin-left: 10px;
//         }
//       }
//     }
//   }
// }

.conventionsContainer {
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  .conventionCard {
    margin: 10px;
    width: 600px;
    height: 380px;
    display: flex;
    border-radius: 10px;
    border: #0c97b4 solid 2px;
    overflow: hidden;
    @media (max-width: 900px) {
      flex-direction: column;
      height: 100%;
    }
    .logo {
      border-radius: 5px;
      img {
        width: 250px;
        height: 380px;
        @media (max-width: 900px) {
          width: 100%;
        }
      }
    }
    .description {
      padding: 10px;
      font-family: "Ubuntu", sans-serif;
      border-left: #0c97b4 solid 2px;
      @media (max-width: 900px) {
        border-left: none;
      }
      h3 {
        text-align: center;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 8px;
        font-weight: 400;
        span {
          color: #0c97b4;
        }
      }
      .adress {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        background-color: #f6f7f8;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        font-family: "Ubuntu", sans-serif;
        color: #0c97b4;
        font-size: 18px;
        p {
          margin-left: 10px;
          margin-bottom: 0;
        }
      }
    }
  }
}
.about {
  padding: 50px;
  h1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    div {
      background-color: #0c97b4;
      width: 105px;
      height: 5px;
      margin-right: 10px;
      @media (max-width: 900px) {
        width: 50px;
      }
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      display: flex;
      @media (max-width: 900px) {
        flex-direction: column;
        margin: 0;
      }
      img {
        border-radius: 5px;
        margin: 20px;
        width: 380px;
        height: 200px;
        @media (max-width: 900px) {
          width: 300px;
          height: 180px;
        }
      }
    }
    p {
      width: 70%;
      text-align: justify;
      @media (max-width: 900px) {
        width: 100%;
        margin-top: 40px;
        text-align: justify;
      }
    }
  }
}
