.about {
  padding: 15px 25px;
  font-family: "Ubuntu", sans-serif;
  h1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    div {
      background-color: #0c97b4;
      width: 105px;
      height: 5px;
      margin-right: 10px;
      @media (max-width: 900px) {
        width: 50px;
      }
    }
  }
  .aboutContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    .logo {
      font-weight: 700;
      @media (max-width: 900px) {
        margin-bottom: 10px;
      }
    }
    .description {
      width: 70%;
      line-height: 25px;
      text-align: justify;
      @media (max-width: 900px) {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.aboutinverse {
  padding: 15px 25px;
  font-family: "Ubuntu", sans-serif;
  margin-top: 10px;
  h1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-end;
    div {
      background-color: #0c97b4;
      width: 105px;
      height: 5px;
      margin-right: 10px;
      @media (max-width: 900px) {
        width: 50px;
      }
    }
  }
  .aboutContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    .logo {
      font-weight: 700;
      // width: 350px;

      @media (max-width: 900px) {
        margin-bottom: 10px;
      }
    }
    .description {
      width: 70%;
      line-height: 25px;
      text-align: justify;
      @media (max-width: 900px) {
        width: 100%;
        text-align: center;
      }
    }
  }
}
